<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFC">
        <activity
            android:name=".TransNFC"
            android:label="@string/title_activity_trans_n_f_c"
            android:theme="@style/Theme.NFC.NoActionBar"></activity>
        <activity android:name=".reg1" />
        <activity android:name=".reg" />
        <activity android:name=".transferID" />
        <activity android:name=".receive1" />
        <activity android:name=".transfer1" />
        <activity android:name=".settings" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>